    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">About</h2>
                    
                    <h4 style="text-transform:none;">The Empire State Library Network partners with New York's libraries, archives, and museums to share our history and treasures with a global audience.</h4>

<p class="large">Libraries have spent years making the historical treasures of New York -- its papers, photos and public records -- easier to find by scanning and putting digital copies online. But with so many different websites and databases to turn to, it can be difficult for residents, students, and researchers to uncover the rich history of our state. In 2013, the Empire State Digital Network (ESDN) was launched at the Metropolitan New York Library Council (METRO) to help the Empire State Library Network (ESLN) collect New York State’s digital library materials and bring them all together in one place.</p>

<p class="large">Before libraries were digital, we used card catalogs and the Dewey decimal system to organize and describe books and other documents. Unfortunately, digital libraries don’t use one simple system to organize and describe information so that we can find it easily on the internet. ESDN acts as a translator that helps all of the different systems used by libraries, archives and museums work together. ESDN builds a catalog of historically significant papers, photos, and public records from New York State, and then makes them available on a national platform called the <a class="dark" href="http://dp.la/">Digital Public Library of America.</a></p>
</p>
                </div>
            </div>
            </div>
        </div>

<section>
<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">How it works</h2>
                    <h4 class="section-subheading" style="text-transform:none;">Everyone who puts digital collections on the web describes them a little differently, which makes them very hard to find. Here's how we fix that problem.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span>
                        <img class="story-icon" src="img/collect.png" />
                    </span>
                    <h4 class="service-heading">Collect</h4>
                    <p class="text-muted">ESDN works with libraries, archives, historical societies, and museums that have digitized their content to make it accessible as widely as possible. First we do that by helping you configure a data feed that contains all of the information describing your digital collections. It's easy.</p>
                </div>
                <div class="col-md-4">
                     <span>
                        <img class="story-icon" src="img/compile.png" />
                    </span>
                    <h4 class="service-heading">Compile</h4>
                    <p class="text-muted">Then, ESDN works with you to refine your metadata. Metadata is the digital equivalent of cards in the classic library card catalog. Imagine how hard it would have been to find the book you want if every library had organized their card catalog differently? In this phase of our process, we resolve all of these differences in description.
</p>
                </div>
                <div class="col-md-4">
                     <span>
                        <img class="story-icon" src="img/share.png" />
                    </span>
                    <h4 class="service-heading">Share</h4>
                    <p class="text-muted">Finally, ESDN sends a single data stream describing participants collections in New York State to the Digital Public Library of America. The result: trusted, high quality, primary source historical content is discoverable and available to many more people than ever before.
</p>
                </div>
            </div>
        </div>
   </section>
    </section>

    <section id="map">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Maximizing Access to New York State's Cultural History</h2>
                    <h3 class="section-subheading text-muted">The Empire State Digital Network is a project adminsistered by the <a class="dark" href="http://metro.org">Metropolitan New York Library Council</a>. Through a unique collaboration with <a class="dark" href="https://www.esln.org/">all eight other library councils</a> in New York state, we have reached 181 organizations statewide, with more getting involved every day.</h3>
                    <iframe width="100%" height="520" frameborder="0" src="https://chrisstanton.cartodb.com/viz/cc829c54-b983-11e5-925a-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="involved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Contact Your Regional Liaison</h2>
                    <h4>
If your organization is interested in contributing to DPLA through ESDN, please contact the Empire State Library Network liaison in your region for more information:</h4>
<ul>
<li>
    <a title="Central District Library Council" href="http://cdlc.org/" target="_blank">CDLC</a> : Susan D&#8217;Entremont <a title="Email Susan" href="mailto:susan@cdlc.org">susan@cdlc.org</a>
</li>
<li>
    <a title="Central NY Library Resources Council" href="http://clrc.org/" target="_blank">CLRC</a> : Déirdre Joyce<a title="Email Deirdre" href="mailto:djoyce@clrc.org">djoyce@clrc.org</a>
</li>
<li>
    <a title="Long Island Library Resources Council" href="http://www.lilrc.org/" target="_blank">LILRC</a> : Virginia Antonucci-Gibbons<a title="Email Virginia" href="mailto:vantonuc@lilrc.org">vantonuc@lilrc.org</a>
</li>
<li>
    <a title="Metropolitan NY Library Council" href="http://metro.org/" target="_blank">METRO</a> : Anne Karle-Zenith<a title="Email Anne" href="mailto:annekz@metro.org">annekz@metro.org</a>
</li>
<li>
    <a title="Northern NY Library Network" href="http://nnyln.org/" target="_blank">NNYLN</a> : Eric Alan<a title="Email Eric" href="mailto:eric@nnyln.org">eric@nnyln.org</a>
</li>
<li>
    <a title="Rochester Regional Library Council" href="http://rrlc.org/" target="_blank">RRLC</a> : Laura Osterhout<a title="Email Laura" href="mailto:losterhout@rrlc.org">losterhout@rrlc.org</a>
</li>
<li>
    <a title="South Central Regional Library Council" href="https://scrlc.org/" target="_blank">SCRLC</a> : Julia Corrice<a title="Email Julia" href="mailto:jcorrice@scrlc.org">jcorrice@scrlc.org</a>
</li>
<li>
    <a title="Southeastern NY Library Resources Council" href="http://www.senylrc.org/" target="_blank">SENYLRC</a> : Jennifer Palmentiero<a title="Email Jen" href="mailto:jennifer@senylrc.org">jennifer@senylrc.org</a>
</li>
<li>
    <a title="Western NY Library Resources Council" href="http://www.wnylrc.org/" target="_blank">WNYLRC</a> :  Jaclyn McKewan<a href="mailto:jmckewan@wnylrc.org">jmckewan@wnylrc.org</a>
</li>
</ul>
                </div>
            </div>
        </div>
    </section>

